@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.hosting-element
{
background-color: #F7F8F9;
    }

h2 
{
color: var(--content-content-primary, #001018);
text-align: center;
/* Desktop/Title4 */
font-size: 26px;
font-family: Roboto;
font-weight: 700;
line-height: 32px;
    }


.scale_title{
color: var(--content-content-primary, #001018);
text-align: center;
/* Desktop/Title4 */
font-size: 26px;
font-family: Roboto;
font-weight: 700;
line-height: 32px;
padding-top: 24px;
    }


.title_comment{
text-align: center;
    }

._3qavF1mE7wQGkoUgHE1D75
{
color: var(--content-content-primary, #001018);
text-align: center;
/* Desktop/Title4 */
font-size: 22px;
font-family: Roboto;
font-weight: 700;
line-height: 32px;
padding-top: 24px;
padding-bottom: 14px;
    }



#label_551177{
color: var(--content-content-primary, #001018);

/* Body/Bold/Text2 */
font-size: 16px;
font-family: Roboto;
font-weight: 700;
line-height: 24px;
 }


.fKfb2KiCJ7CVITtdGVn7B{
background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E");
 }

._3VgxUzppbTclqye69HSxig{
width: 400px;
 }

._1De-hWu2XrYnO5hnFIWYwJ{
background: var(--background-background-brand-primary, #007DBC);
width: 100%;
border-radius: 4px;
color: var(--content-content-primary-reversed, #FFF);
/* _Text utilities/Button/Small */
font-size: 14px;
font-family: Roboto;
font-weight: 700;
letter-spacing: 0.24px;
 }

._10o3Ogtkx0b1R7N7tOe-dr{
visibility:hidden;
 }

._1BI5B2xY6xMD9hHPCMgWgM {
    text-align: center;
    padding: 0;
    border: none;
    margin: 0; }

._3V7dnttxWmVodobjYgphXD {
    margin: 40px 0 24px 0;
    color: var(--content-content-primary, #001018);
    text-align: center;
    /* Desktop/Title4 */
    font-size: 26px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

._1Ho9t7aepdrNkgXXGKzC8J,._2tHW0cyET9DNu6CMvxGOlL {
    padding-right: 0px;
    font-weight: 200;
}

._1Ph79_cMqePGwlxvaXXSTb {
    color: var(--palette-typography-error);
    margin: 0 3px;
    visibility: hidden;}
    
._2x6S50Ozibu2fOMgF5qDzt{
    padding-top:24px;}